@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;1,300&family=Noto+Serif:ital@0;1&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
  color: #bbc8d4;
  background-color: #8494a4;
}

h1,
h2,
h3,
h4 {
  color: #d8afa3;
}

a {
  text-decoration: none;
  color: #d8afa3;
}

a:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 18svh;
  background-color: #9f7f63;
  padding: 1rem;
  box-sizing: border-box;
}

.footer-container a {
  background-color: #9f7f63; /* Set the background color of the links to match the footer container */
}

.footer-container p {
  background-color: #9f7f63;
}
